html{
    font-family:Arial, Helvetica, sans-serif;
}

header { 
    background-color: #3f51b5; 
    color: white; 
    padding: 10px 20px; 
    width: 100%;
}

main { 
    padding: 20px; 
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a0a0a0; 
}

nav a {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #1967d2;
  font-size: automatic;
  display: inline-block;
  border-bottom: none;
  padding-bottom: 2%;
}

nav a.active {  
  color: #666; 
  font-weight: 600;
  z-index: 1;  
  margin-bottom: -2px;  
  border-bottom: none;       
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  border-radius: 4px 4px 0 0; 
}

.mdc-button:hover {
  border-radius: 0%;
}

.loader-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
