html{
    font-family:Arial, Helvetica, sans-serif;
}

header { 
    background-color: #3f51b5; 
    color: white; 
    padding: 10px 20px; 
}

main { 
    padding: 20px; 
}

nav {
  display: flex;
  border-bottom: 1px solid #a0a0a0; 
  background-color: #fff;
}

nav a {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #1967d2;
  font-size: 16px;
  display: inline-block;
  border-bottom: none;
}

nav a.active {
  background-color: #fff;  
  color: #666; 
  font-weight: 600;
  z-index: 1;
  margin-bottom: -1px;          
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  border-bottom: none; 
  border-radius: 4px 4px 0 0; 
}

