.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.container__loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(122, 120, 120, 0.5); 
  display: flex;
  justify-content: center;
}