html{
    font-family: Arial, Helvetica, sans-serif;
}

.full-width-input {
    width: 100%;
    margin-bottom: 15px; 
}

.form__input{ 
    margin-bottom: 15px; 
}

.error-text { 
    color: red; 
    font-size: 0.9em; 
}

.button__submit:disabled { 
    background-color: #ccc !important; 
    cursor: not-allowed; 
    color: black !important;
}

.button__submit{
    padding: 0.9em;
    background-color: #249659 !important;
    color:#fff !important;
    border-radius: 10%;
    border: none;
    margin-top: 2%;
}


.radio-group {
    display: flex;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 0.2em;
}

.heading{
    font-weight: bold;
    display: block;
}