html{
    font-family: Arial, Helvetica, sans-serif;
}

.form-group { 
    margin-bottom: 15px; 
}

.form-group label{ 
    display: block; 
    margin-bottom: 5px; 
}

.form-group input { 
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
}

.error { 
    color: red; 
    font-size: 0.9em; 
}

button:disabled { 
    background-color: #ccc; 
    cursor: not-allowed; 
    color: black;
}

button{
    padding: 0.9em;
    background-color: #249659;
    color:#fff;
    border-radius: 10%;
    border: none;
}

.form-group > label {
    flex: 0 0 150px;
    margin-right: 12px;
}

.form-group > select{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.checkbox-group label,
.radio-group label {
    display: inline-flex;
    align-items: center;
    margin-right: 1.5em;
    white-space: nowrap;
    padding: 0.5em;
    margin-top: 5px;
}

.radio-group,
.checkbox-group {
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 0.2em;
}

.heading{
    font-weight: bold;
}